

.header__list-item {
   
    margin-right: 18px;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity 1s ease-out;
}

.header__list-item:last-of-type {
    margin-right: 0;
}

.header__list-item:hover {
    opacity: 0.3;
  }
