
@media (min-width : 1280px) {
    .place__group:first-of-type {
        min-width: 460px;
    }
    
    .place__group:last-of-type {
        margin-left: 40px;
        max-width: 484px;
    }
}

@media (min-width : 1020px) and (max-width : 1280px) {
    .place__group:first-of-type {
        max-width: 440px;
    }
    
    .place__group:last-of-type {
        max-width: 456px;
        margin-left: 32px;
    }
}

@media (min-width : 760px) and (max-width : 1020px) {
    .place__group:first-of-type {
        max-width: 340px;
    }
    
    .place__group:last-of-type {
        max-width: 352px;
        margin-left: 28px;

    }
}

@media (min-width : 320px) and (max-width : 760px) {
    .place__group:first-of-type {
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
    
    
    .place__group:last-of-type {
        max-width: calc(288 / 320 * 100%);
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}
