.cover__link {
    
position: relative;
  
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
  
  
  color: white;
}

.cover__link::after {
  
    background-color: #2A2C2F;  
    min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  opacity: 0.3;
  content: " ";
}

.cover__link:hover::after {
  opacity: 0.8;
  transition: opacity 1s ease-in-out;
}

@media (min-width : 1275px) {
  .cover__link {
    min-width: 100%;
  min-height: 740px;
  }
}

@media (min-width : 1024px) and (max-width : 1275px) {
  .cover__link {
      min-height: 640px;
  }
}

@media (min-width : 760px) and (max-width : 1020px) {
    .cover__link {
        min-height: 480px;
    }
}

@media (min-width : 320px) and (max-width : 760px) {
    .cover__link {
        min-height: 100%;
    }
}