@import url(./__lang-links/header__lang-links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underline/header__lang-link_underline.css);


.header {
    display: flex;
    justify-content: space-between;
    
    
    margin-left: auto;
    margin-right: auto;
    min-width: 288px;
}



@media (min-width : 1280px) {
    .header {
    max-width: 984px;
    margin-top: 34px;
    
}
}


@media (min-width : 1020px) and (max-width : 1280px) {
    .header {
    max-width: 984px;
    margin-top: 34px;
}
}

@media (min-width : 760px) and (max-width : 1020px) {
    .header {
    min-width: calc(720 / 768 * 100%);
    max-width: 984px;
    margin-top: 34px;
}
}



@media (min-width : 320px) and (max-width : 760px) {
    .header {
    min-width: calc(288 / 320 * 100%);
    max-width: 720px;
    max-height: 36px;
    margin-top: 20px;
}
}