.logo {
    background-image: url(../../images/logo.svg);
    
background-size: contain;
background-repeat: no-repeat;
}

@media (min-width : 1280px) {
    .logo {
        min-width: 190px;

    }
}



@media (min-width : 1024px) and (max-width : 1280px) {
    .logo {
        min-width: 190px;

    }
}

@media (min-width : 768px) and (max-width : 1024px) {
    .logo {
        min-width: 190px;

    }
}

@media (min-width : 320px) and (max-width : 768px) {
    .logo {
        min-width: calc(156 / 288 * 100%);

    }
}


