

@media (min-width : 760px) {

    .footer__links {
        min-width: 211px;
    display: flex;
    justify-content: space-between;
        
    
}

}

@media (max-width : 760px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        min-height: 136px;
        justify-content: space-between;
    }
}



