@import url(./__title/intro__title.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__text/_type/intro__text_type_description.css);
@import url(./__text/_type/intro__text_type_statistics.css);




@media (min-width : 1280px) {
    .intro {
        margin-top: 92px;
        
        margin-left: 100px;
        margin-right: 294px;
        
        min-width: 690px;
        
    }
}

@media (min-width : 1024px) and (max-width : 1279px) {
    .intro {
        margin-top: 92px;
        margin-left: 48px;
        margin-right: 286px;
        max-width: 690px;
        
    }
}

@media (min-width : 768px) and (max-width : 1023px) {
    .intro {
        margin-top: 88px;
        min-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
        
    }
}

@media (min-width : 320px) and (max-width : 767px) {
    .intro {
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
        min-width: calc(288 / 320 * 100%);
    }
}