
@media (min-width : 1020px) {
    .place__website {
        margin-top: 30px;
    }
}

@media (max-width : 1020px) {
    .place__website {
        margin-top: 0;
    }
}

@media (max-width : 760px) {
    .place__website {
        display: none;
    }
}